# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Datasets (too large for GitHub)
backend/app/counterfeit/data/
backend/app/counterfeit/*.zip

backend/app/counterfeit/counterfeit_model.h5